@model EatDomicile.Web.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Détails utilisateur";
}

<h4>Détails utilisateur</h4>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Id)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Id)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.FirstName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.FirstName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.LastName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.LastName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Phone)</dt>           <dd class="col-sm-9">@Html.DisplayFor(m => m.Phone)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.AddressId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.AddressId)</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour</a>
</div>
