@model IEnumerable<EatDomicile.Web.ViewModels.DrinkViewModel>
@{
    ViewData["Title"] = "Boissons";
}

<h4>Boissons</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Nouvelle boisson</a>
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Fizzy)</th>
            <th>@Html.DisplayNameFor(model => model.KCal)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Price)</td>
                <td>@Html.DisplayFor(m => item.Fizzy)</td>
                <td>@Html.DisplayFor(m => item.KCal)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

